<div class="todo-container">
    <h1>My ToDo List</h1>
    <div>
        <ng-container *ngIf="!editing">
            <button mat-raised-button color="primary" class="add-button" (click)="addTask()">Add task</button>
        </ng-container>

        <ng-container *ngIf="editing">
            <button mat-raised-button color="primary" class="add-button" (click)="saveChanges()">Save</button>
            <button mat-stroked-button color="primary" class="add-button" (click)="cancel()">Cancel</button>
        </ng-container>
    
    </div>

    <div class="task-list">
        <ng-container *ngFor="let task of taskList">
            <app-todo-task [task]="task" (remove)="removeTask($event)" (edit)="editTask($event)"></app-todo-task>
        </ng-container>
    </div>
    
</div>




<!-- <div class="todo-container">
    <input type="text" [(ngModel)]="value"/>
    {{value}}
    <button (click)="onButtonClick()">Show alert</button>
    <ng-container *ngFor="let task of tasks">
        <div class="todo-task">
            <p class="todo-title" [ngClass]="{'urgent': task.urgent}" [ngStyle]="{'font-size': getFontSize(task)}">
                <span *ngIf="task.urgent">Urgent:</span>
                {{task.title}}
            </p>
            <p class="todo-description">{{task.description}}</p>
        </div>
    </ng-container>
</div> 

.todo 
    &-title 
        font-weight: 600,
.urgent 
    color: red -->