<div class="dialog-wrapper">
    <div>Create task</div>

    <form [formGroup]="taskForm">
       <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="assignee">
              <mat-option *ngFor="let user of data.users">
                {{user}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="isUrgent">
            Urgent
        </mat-checkbox>
      
    </form>

</div>
