<div class="task-wrapper">

    <div class="task-content">
        <div class="task-checkbox">
            <mat-checkbox
                [checked]="task.completed"
                (change)="complete($event.checked)">
            </mat-checkbox>
        </div>
        <div [ngClass]="{'completed': task.completed}" [tooltip]="task.title">{{task.title}}</div>
    </div>

    <div class="task-content-btn">
        <button mat-stroked-button color="primary" (click)="editTask()">Edit</button>
        <button mat-stroked-button color="warn" (click)="removeTask()">Remove</button>
    </div>
</div>